$primary-color: #2C3E50;
$secondary-color: #18BC9C;
$background-color: #ECF0F1;
$text-color: #2C3E50;
$text-light-color: #7F8C8D;
$white-color: #FFFFFF;
$accent:#f2eddc;
$gray: #F7F7F7;
$dark: #171717;