.projects {
    padding: 50px 0;

    a {
        display: flex;
        flex-direction: row;
        background-color: $white-color;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        text-decoration: none;
        color: $text-color;
        padding: 15px;
        margin-bottom: 10px;
        margin-bottom: 10px;
        gap: 15px;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        }
        // Image Styling
        img {
            max-width: 300px;
            height: 300px;
            border-radius: 5px;
            object-fit: cover;
            flex-shrink: 0;
        }

        .content {
            text-align: start;

            h4 {
                color: $primary-color;
                font-size: 1.2rem;
                margin: 20px 0;
                margin-bottom: 50px;
            }

            p {
                font-size: 0.9rem;
                color: $text-light-color;
                margin-top: 50px;

                &:last-child {
                    color: $secondary-color;
                    font-weight: bold;
                    font-size: 0.95rem;
                }
            }
        }
    }

    @include respond("medium") {
        a {
            display: flex;
            width: 100%;
        }
    }

    @include respond("small") {
        a {
            display: block;
            width: 100%;
        }
    }
}
