<?xml version="1.0" encoding="utf-8"?>
<Content Key="adf3c68b-2fc3-4258-a700-ecebbcd764e1" Alias="Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Settings</Path>
    <Trashed>false</Trashed>
    <ContentType>settings</ContentType>
    <CreateDate>2024-09-04T03:10:19</CreateDate>
    <NodeName Default="Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <faceBookLink>
      <Value><![CDATA[]]></Value>
    </faceBookLink>
    <instagramLink>
      <Value><![CDATA[]]></Value>
    </instagramLink>
    <linkedinLink>
      <Value><![CDATA[]]></Value>
    </linkedinLink>
    <officeEmailAddress>
      <Value><![CDATA[]]></Value>
    </officeEmailAddress>
    <officeLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </officeLocation>
    <officePhoneNumber>
      <Value><![CDATA[]]></Value>
    </officePhoneNumber>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "d6d13932-d295-4e63-8efa-26adab578e1b",
    "mediaKey": "e5af056e-c412-421b-a335-e27d96ff208a",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
    <siteTagline>
      <Value><![CDATA[]]></Value>
    </siteTagline>
    <xLink>
      <Value><![CDATA[]]></Value>
    </xLink>
  </Properties>
</Content>