<?xml version="1.0" encoding="utf-8"?>
<Media Key="a31229f0-007a-48f8-a41a-119247f70552" Alias="Aaron-Lambert" Level="3">
  <Info>
    <Parent Key="fb720b46-e88c-4a3b-8ea6-e17606d6a69c">About Page</Parent>
    <Path>/Onatrix/AboutPage/AaronLambert</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-08T02:27:39</CreateDate>
    <NodeName Default="Aaron-Lambert" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/p5rfifit/aaron-lambert.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>