<?xml version="1.0" encoding="utf-8"?>
<Media Key="94591980-234e-4c0c-a617-bcf180c62420" Alias="AnnualReportforJuvaIncImage2" Level="3">
  <Info>
    <Parent Key="76ae64ee-7c8a-43db-951d-c022401a2183">Home Page</Parent>
    <Path>/Onatrix/HomePage/AnnualReportforJuvaIncImage2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-22T00:19:32</CreateDate>
    <NodeName Default="AnnualReportforJuvaIncImage2" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/b5jb4irh/annualreportforjuvaincimage2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>