<?xml version="1.0" encoding="utf-8"?>
<Media Key="41aafc17-4ee1-433b-aa7e-9c261f8f42d9" Alias="Assurance&amp;Audits-image" Level="4">
  <Info>
    <Parent Key="8fe25b8e-c2ad-456e-bee7-8e1259c793c7">OUR SERVICES IMAGE</Parent>
    <Path>/Onatrix/HomePage/OURSERVICESIMAGE/AssuranceAuditsImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-04T23:39:28</CreateDate>
    <NodeName Default="Assurance&amp;Audits-image" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5090089540223818,
    "top": 0.5141414295543324
  },
  "crops": [],
  "src": "/media/ta1oz32i/assuranceaudits-image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>