<?xml version="1.0" encoding="utf-8"?>
<Media Key="8965ac6c-2a25-473e-80e8-485d2d0f3f5e" Alias="Bonds&amp;Commodities-Image" Level="4">
  <Info>
    <Parent Key="8fe25b8e-c2ad-456e-bee7-8e1259c793c7">OUR SERVICES IMAGE</Parent>
    <Path>/Onatrix/HomePage/OURSERVICESIMAGE/BondsCommoditiesImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-04T23:39:58</CreateDate>
    <NodeName Default="Bonds&amp;Commodities-Image" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/2ntcgp0m/bondscommodities-image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>