<?xml version="1.0" encoding="utf-8"?>
<Media Key="6b3015b6-f850-4eae-bbe3-0b40f58003db" Alias="company-medlem-Image" Level="3">
  <Info>
    <Parent Key="76ae64ee-7c8a-43db-951d-c022401a2183">Home Page</Parent>
    <Path>/Onatrix/HomePage/companyMedlemImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-05T00:11:58</CreateDate>
    <NodeName Default="company-medlem-Image" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/hhphnxjz/company-medlem-image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>