<?xml version="1.0" encoding="utf-8"?>
<Media Key="92476a34-facc-4a4f-8beb-54132f15e893" Alias="contactBgDotImage" Level="3">
  <Info>
    <Parent Key="fb720b46-e88c-4a3b-8ea6-e17606d6a69c">About Page</Parent>
    <Path>/Onatrix/AboutPage/contactBgDotImage</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-08T02:32:54</CreateDate>
    <NodeName Default="contactBgDotImage" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/y1lpk2gx/contactbgdotimage.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>