<?xml version="1.0" encoding="utf-8"?>
<Media Key="b9d6e3c1-28cf-4a77-b80b-ad2b9e1daf15" Alias="Contact Page" Level="2">
  <Info>
    <Parent Key="0259db12-238c-466a-9759-57a6a5b19d50">Onatrix</Parent>
    <Path>/Onatrix/ContactPage</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-16T02:38:05</CreateDate>
    <NodeName Default="Contact Page" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>