<?xml version="1.0" encoding="utf-8"?>
<Media Key="3523c4b1-e6cc-4015-ae11-f513238b17a2" Alias="ContactManImage" Level="3">
  <Info>
    <Parent Key="fb720b46-e88c-4a3b-8ea6-e17606d6a69c">About Page</Parent>
    <Path>/Onatrix/AboutPage/ContactManImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-08T02:32:09</CreateDate>
    <NodeName Default="ContactManImage" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/hyhgla3f/contactmanimage.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>