<?xml version="1.0" encoding="utf-8"?>
<Media Key="9af021d0-510d-4217-ba9b-75f2e72e6d04" Alias="dot map 2" Level="3">
  <Info>
    <Parent Key="76ae64ee-7c8a-43db-951d-c022401a2183">Home Page</Parent>
    <Path>/Onatrix/HomePage/dotMap2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T00:19:45</CreateDate>
    <NodeName Default="dot map 2" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ekofe4aw/dot-map2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>