<?xml version="1.0" encoding="utf-8"?>
<Media Key="31d772ea-c4ed-44f4-b9a3-ed82d276afc3" Alias="dot-map1" Level="3">
  <Info>
    <Parent Key="76ae64ee-7c8a-43db-951d-c022401a2183">Home Page</Parent>
    <Path>/Onatrix/HomePage/dotMap1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T00:11:23</CreateDate>
    <NodeName Default="dot-map1" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ddhhlu5w/dot-map1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>