<?xml version="1.0" encoding="utf-8"?>
<Media Key="703eadce-56c4-4872-9203-7ea8096dbf9a" Alias="Financial-Advisor-image" Level="4">
  <Info>
    <Parent Key="8fe25b8e-c2ad-456e-bee7-8e1259c793c7">OUR SERVICES IMAGE</Parent>
    <Path>/Onatrix/HomePage/OURSERVICESIMAGE/FinancialAdvisorImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-04T23:40:10</CreateDate>
    <NodeName Default="Financial-Advisor-image" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/ifthrrvn/financial-advisor-image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>