<?xml version="1.0" encoding="utf-8"?>
<Media Key="76ae64ee-7c8a-43db-951d-c022401a2183" Alias="Home Page" Level="2">
  <Info>
    <Parent Key="0259db12-238c-466a-9759-57a6a5b19d50">Onatrix</Parent>
    <Path>/Onatrix/HomePage</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-03T02:08:30</CreateDate>
    <NodeName Default="Home Page" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>