<?xml version="1.0" encoding="utf-8"?>
<Media Key="0f4b6026-1919-4577-9088-8de09da77e40" Alias="Kevin-Gardner-1" Level="3">
  <Info>
    <Parent Key="fb720b46-e88c-4a3b-8ea6-e17606d6a69c">About Page</Parent>
    <Path>/Onatrix/AboutPage/KevinGardner1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-08T02:28:58</CreateDate>
    <NodeName Default="Kevin-Gardner-1" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/vgva1olq/kevin-gardner-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>