<?xml version="1.0" encoding="utf-8"?>
<Media Key="e5af056e-c412-421b-a335-e27d96ff208a" Alias="logotype" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/logotype</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-04T03:17:14</CreateDate>
    <NodeName Default="logotype" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ts2a0byj/logotype.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>