<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7ac2683-6dd2-4466-bc9c-ce099b0ff1f1" Alias="mapImage" Level="3">
  <Info>
    <Parent Key="b9d6e3c1-28cf-4a77-b80b-ad2b9e1daf15">Contact Page</Parent>
    <Path>/Onatrix/ContactPage/mapImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-16T02:38:31</CreateDate>
    <NodeName Default="mapImage" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/btwouen1/mapimage.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>