<?xml version="1.0" encoding="utf-8"?>
<Media Key="754370ea-6640-4969-b38a-b1b8274d300a" Alias="Miranda-Dayton" Level="3">
  <Info>
    <Parent Key="fb720b46-e88c-4a3b-8ea6-e17606d6a69c">About Page</Parent>
    <Path>/Onatrix/AboutPage/MirandaDayton</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-08T02:59:06</CreateDate>
    <NodeName Default="Miranda-Dayton" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/mw3alqzj/miranda-dayton.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>