<?xml version="1.0" encoding="utf-8"?>
<Media Key="8fe25b8e-c2ad-456e-bee7-8e1259c793c7" Alias="OUR SERVICES IMAGE" Level="3">
  <Info>
    <Parent Key="76ae64ee-7c8a-43db-951d-c022401a2183">Home Page</Parent>
    <Path>/Onatrix/HomePage/OURSERVICESIMAGE</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-04T23:38:35</CreateDate>
    <NodeName Default="OUR SERVICES IMAGE" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>