<?xml version="1.0" encoding="utf-8"?>
<Media Key="4855ec51-6c50-49e4-8bd1-5950eab5dcc8" Alias="PageInfoBgImage" Level="2">
  <Info>
    <Parent Key="0259db12-238c-466a-9759-57a6a5b19d50">Onatrix</Parent>
    <Path>/Onatrix/PageInfoBgImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-08T02:09:24</CreateDate>
    <NodeName Default="PageInfoBgImage" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/1ytbh5rz/pageinfobgimage.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>