<?xml version="1.0" encoding="utf-8"?>
<Media Key="5c368fb0-a250-487c-bf8b-28d34aa11086" Alias="pj1" Level="3">
  <Info>
    <Parent Key="76ae64ee-7c8a-43db-951d-c022401a2183">Home Page</Parent>
    <Path>/Onatrix/HomePage/pj1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-05T00:28:40</CreateDate>
    <NodeName Default="pj1" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/h3chb0rz/pj1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>