<?xml version="1.0" encoding="utf-8"?>
<Media Key="5566447e-80d8-4587-a0bf-b66ca5dfa030" Alias="pj4" Level="3">
  <Info>
    <Parent Key="76ae64ee-7c8a-43db-951d-c022401a2183">Home Page</Parent>
    <Path>/Onatrix/HomePage/pj4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-05T00:29:37</CreateDate>
    <NodeName Default="pj4" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/4ghcby3r/pj4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>