<?xml version="1.0" encoding="utf-8"?>
<Media Key="8368ece3-f065-476e-a002-98a19bad97fe" Alias="risk-management-image" Level="4">
  <Info>
    <Parent Key="8fe25b8e-c2ad-456e-bee7-8e1259c793c7">OUR SERVICES IMAGE</Parent>
    <Path>/Onatrix/HomePage/OURSERVICESIMAGE/riskManagementImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-04T23:38:54</CreateDate>
    <NodeName Default="risk-management-image" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/nqtc2nim/risk-management-image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>