<?xml version="1.0" encoding="utf-8"?>
<Media Key="66fd8780-555b-47ca-bd64-3ea372c0e5ef" Alias="risk-management-image-2" Level="4">
  <Info>
    <Parent Key="8fe25b8e-c2ad-456e-bee7-8e1259c793c7">OUR SERVICES IMAGE</Parent>
    <Path>/Onatrix/HomePage/OURSERVICESIMAGE/riskManagementImage2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-22T00:17:07</CreateDate>
    <NodeName Default="risk-management-image-2" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5886666870117188,
    "top": 0.7080386533101218
  },
  "crops": [],
  "src": "/media/b3glxubs/risk-management-image-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>