<?xml version="1.0" encoding="utf-8"?>
<Media Key="96cc4439-7da9-43ce-93ab-b3655230bc16" Alias="Signatures-founder" Level="3">
  <Info>
    <Parent Key="76ae64ee-7c8a-43db-951d-c022401a2183">Home Page</Parent>
    <Path>/Onatrix/HomePage/SignaturesFounder</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-04T23:22:56</CreateDate>
    <NodeName Default="Signatures-founder" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zp2h23fs/signatures-founder.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>