<?xml version="1.0" encoding="utf-8"?>
<Media Key="4c70f991-68e2-48a4-9b55-8d26780bc6d0" Alias="Sponsor 3" Level="4">
  <Info>
    <Parent Key="b6825c0b-d197-42be-81ed-254397a76090">Sponsors</Parent>
    <Path>/Onatrix/HomePage/Sponsors/Sponsor3</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T00:45:35</CreateDate>
    <NodeName Default="Sponsor 3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mncnflxz/s3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>