<?xml version="1.0" encoding="utf-8"?>
<Media Key="7cb80b8b-29f8-4558-b34a-330f1df68815" Alias="Sponsor 4" Level="4">
  <Info>
    <Parent Key="b6825c0b-d197-42be-81ed-254397a76090">Sponsors</Parent>
    <Path>/Onatrix/HomePage/Sponsors/Sponsor4</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T00:46:03</CreateDate>
    <NodeName Default="Sponsor 4" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pg1bvhxd/s4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>