<?xml version="1.0" encoding="utf-8"?>
<Media Key="b6825c0b-d197-42be-81ed-254397a76090" Alias="Sponsors" Level="3">
  <Info>
    <Parent Key="76ae64ee-7c8a-43db-951d-c022401a2183">Home Page</Parent>
    <Path>/Onatrix/HomePage/Sponsors</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-05T00:43:12</CreateDate>
    <NodeName Default="Sponsors" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties />
</Media>