<?xml version="1.0" encoding="utf-8"?>
<Media Key="679e7201-e290-423a-a2ea-8c5bbdfada8c" Alias="Sponsor 6" Level="4">
  <Info>
    <Parent Key="b6825c0b-d197-42be-81ed-254397a76090">Sponsors</Parent>
    <Path>/Onatrix/HomePage/Sponsors/Sponsor6</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T00:46:35</CreateDate>
    <NodeName Default="Sponsor 6" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4phdzbml/s6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>