<?xml version="1.0" encoding="utf-8"?>
<Media Key="1f85a9d6-4221-42da-8586-0630e85b841f" Alias="Sponsor 5" Level="4">
  <Info>
    <Parent Key="b6825c0b-d197-42be-81ed-254397a76090">Sponsors</Parent>
    <Path>/Onatrix/HomePage/Sponsors/Sponsor5</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T00:46:19</CreateDate>
    <NodeName Default="Sponsor 5" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/eqkcp5j0/s5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>