<?xml version="1.0" encoding="utf-8"?>
<Media Key="9aa97f4f-7515-4574-9e4e-4a948e68acc6" Alias="Sponsor 2" Level="4">
  <Info>
    <Parent Key="b6825c0b-d197-42be-81ed-254397a76090">Sponsors</Parent>
    <Path>/Onatrix/HomePage/Sponsors/Sponsor2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T00:45:18</CreateDate>
    <NodeName Default="Sponsor 2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xxbaw4ao/s2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>