<?xml version="1.0" encoding="utf-8"?>
<Media Key="70389d0b-c3bc-40a4-975d-281538170cb5" Alias="Sponsor 1" Level="4">
  <Info>
    <Parent Key="b6825c0b-d197-42be-81ed-254397a76090">Sponsors</Parent>
    <Path>/Onatrix/HomePage/Sponsors/Sponsor1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-05T00:45:03</CreateDate>
    <NodeName Default="Sponsor 1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5eqjvevh/s1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>