<?xml version="1.0" encoding="utf-8"?>
<Media Key="ebab36b7-a2ef-4e72-9df7-25800bae25fc" Alias="Tax-and-Trusts-image" Level="4">
  <Info>
    <Parent Key="8fe25b8e-c2ad-456e-bee7-8e1259c793c7">OUR SERVICES IMAGE</Parent>
    <Path>/Onatrix/HomePage/OURSERVICESIMAGE/TaxAndTrustsImage</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-04T23:40:34</CreateDate>
    <NodeName Default="Tax-and-Trusts-image" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/hd4o0xmg/tax-and-trusts-image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>