<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f80e6f46-66ab-43e2-a6b1-c9c26a793885" Alias="About Page - Layout " Level="1">
  <Info>
    <Name>About Page - Layout </Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "2270b3ac-4c5f-4c6b-8e98-b68ec13d19fe",
      "name": "sections"
    },
    {
      "key": "51fb1e0b-99f2-4dd2-8a97-a38994ed008e",
      "name": "Containers"
    },
    {
      "name": "Content",
      "key": "783c5d2a-03df-4c36-bd00-499b16e76e4f"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "10e006c7-071c-467a-8cb3-2d93f18a5bde",
      "allowAtRoot": true,
      "groupKey": "2270b3ac-4c5f-4c6b-8e98-b68ec13d19fe",
      "label": "section - **{=sectionTitle}**",
      "areas": [
        {
          "key": "971c309e-a68b-4107-b9d2-77d1b5aa89f9",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "ab10c8c4-e78c-46d6-9309-f1204fd2cf46",
      "allowAtRoot": true,
      "groupKey": "2270b3ac-4c5f-4c6b-8e98-b68ec13d19fe",
      "label": "section - **{=sectionTitle}**",
      "areas": [
        {
          "key": "28453c02-5d86-44a6-b731-a800791c5270",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "3c1d6720-ca00-4fcf-840a-abcdb0a098e6",
      "allowAtRoot": false,
      "groupKey": "51fb1e0b-99f2-4dd2-8a97-a38994ed008e",
      "allowInAreas": true,
      "areas": [
        {
          "key": "851ea7d2-963a-4a52-a6ad-3fee7b1eb03c",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        }
      ],
      "label": "Container"
    },
    {
      "contentElementTypeKey": "7c0f531d-fecd-4b94-ae12-6dce583fdfbc",
      "allowAtRoot": false,
      "groupKey": "51fb1e0b-99f2-4dd2-8a97-a38994ed008e",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "areas": [
        {
          "key": "405daa04-5df7-4450-a10c-fdee5cc7b309",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "label": "Dynamic Container"
    },
    {
      "contentElementTypeKey": "c1a8c3ca-71c0-4dbb-af87-8342b1ec5548",
      "allowAtRoot": false,
      "groupKey": "783c5d2a-03df-4c36-bd00-499b16e76e4f",
      "label": "Page Info Section",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "areas": [
        {
          "key": "4009fe81-95ee-4399-a353-9da060716c9e",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "bc21809e-e0e6-4328-ae90-220e8928f457",
      "allowAtRoot": false,
      "groupKey": "783c5d2a-03df-4c36-bd00-499b16e76e4f",
      "label": "Button Link",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "areas": [
        {
          "key": "15ca7635-e32b-4827-a2bf-3a47d0904e66",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "6c7a432d-f95f-4b5d-bf66-7a1be3a49c38",
      "allowAtRoot": false,
      "groupKey": "783c5d2a-03df-4c36-bd00-499b16e76e4f",
      "label": "Heading 1",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "areas": [
        {
          "key": "90cc8fa1-b699-493f-a96f-62de1f7adf08",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "04c82ee9-6056-45db-84a3-bad5bc0bf797",
      "allowAtRoot": false,
      "groupKey": "783c5d2a-03df-4c36-bd00-499b16e76e4f",
      "label": "Heading 2",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "areas": [
        {
          "key": "6cd71b9d-893f-4cdc-8d6c-0bae8069781f",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "342c4314-16c0-40dd-b68d-39400a5580b5",
      "allowAtRoot": false,
      "groupKey": "783c5d2a-03df-4c36-bd00-499b16e76e4f",
      "label": "Heading 3",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "areas": [
        {
          "key": "86580be3-5b9b-417b-b191-4c6b9408c075",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "80a73022-4ab8-4fa1-aef4-142a6da49fee",
      "allowAtRoot": false,
      "groupKey": "783c5d2a-03df-4c36-bd00-499b16e76e4f",
      "label": "Heading 4",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "areas": [
        {
          "key": "23bd0b6f-6362-42e0-9222-83f16e9ce61a",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "6925efaa-db1c-4cdd-88a1-5759291a6c29",
      "allowAtRoot": false,
      "groupKey": "783c5d2a-03df-4c36-bd00-499b16e76e4f",
      "label": "Heading 5",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "areas": [
        {
          "key": "78a661b4-93cd-4e3f-a9c2-3fad77cb89e7",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "b74696c5-085d-4d75-be58-06c9c6be99f2",
      "allowAtRoot": false,
      "groupKey": "783c5d2a-03df-4c36-bd00-499b16e76e4f",
      "label": "Heading 6",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "areas": [
        {
          "key": "7a2611ea-d42d-4f46-a8da-e389db0faa55",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "bef093ff-9342-46e2-9e56-cdf0f4b65e5d",
      "allowAtRoot": false,
      "groupKey": "783c5d2a-03df-4c36-bd00-499b16e76e4f",
      "label": "Image HTML Element",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "areas": [
        {
          "key": "f95a1414-fb1f-4b59-8ece-f4b209016570",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "dad25a29-f76e-493a-aa7b-082077c272ba",
      "allowAtRoot": false,
      "groupKey": "783c5d2a-03df-4c36-bd00-499b16e76e4f",
      "label": "Link",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "areas": [
        {
          "key": "3dfc5ec6-4c7c-4331-baf5-d233e72bea45",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "89f3d3f1-a174-4a4d-b027-05d13a74ccf2",
      "allowAtRoot": false,
      "groupKey": "783c5d2a-03df-4c36-bd00-499b16e76e4f",
      "label": "Paragraph",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "areas": [
        {
          "key": "32f0a0be-7e79-4c00-9969-0c6314764a1b",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "8fc7eb75-d826-4143-8951-cfe1cca9f58d",
      "allowAtRoot": false,
      "groupKey": "783c5d2a-03df-4c36-bd00-499b16e76e4f",
      "allowInAreas": true,
      "label": "Rich Text",
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "areas": [
        {
          "key": "34e43052-fa34-4d28-a696-5b0971f9d00e",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "ef64817c-6ec8-4f66-a5cb-5a461625e6c6",
      "allowAtRoot": false,
      "groupKey": "2270b3ac-4c5f-4c6b-8e98-b68ec13d19fe",
      "allowInAreas": true,
      "label": "Content Info Section",
      "areas": [
        {
          "key": "acab3c27-a1fc-47b6-b453-e690e1a2023e",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "8eb65547-8fcf-48fa-8f95-05c791c947e6",
      "allowAtRoot": false,
      "groupKey": "783c5d2a-03df-4c36-bd00-499b16e76e4f",
      "allowInAreas": true,
      "areas": [
        {
          "key": "0be965ae-003c-4546-8a89-9824b9658daa",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ]
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>