<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6effbdbe-4b26-4b8f-8473-c9795270d73b" Alias="Annual Report for Juva Inc Project - Layout " Level="1">
  <Info>
    <Name>Annual Report for Juva Inc Project - Layout </Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "name": "sections",
      "key": "2ef5fb4e-30d9-48d0-8175-e6a9493dc3c9"
    },
    {
      "name": "container",
      "key": "71edf95e-0207-47f7-8253-9d1a5ce91eb1"
    },
    {
      "name": "Content",
      "key": "52cfc4f5-89a1-49e4-aa22-57b72ab312f2"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "ab10c8c4-e78c-46d6-9309-f1204fd2cf46",
      "allowAtRoot": true,
      "groupKey": "2ef5fb4e-30d9-48d0-8175-e6a9493dc3c9",
      "label": "section - **{=sectionTitle}**",
      "areas": [
        {
          "key": "a89e277b-f697-4c8b-b096-23cdbda7dde4",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "10e006c7-071c-467a-8cb3-2d93f18a5bde",
      "allowAtRoot": true,
      "groupKey": "2ef5fb4e-30d9-48d0-8175-e6a9493dc3c9",
      "areas": [
        {
          "key": "ae6e1009-661c-4edb-bfab-09d2d6a123c0",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "3c1d6720-ca00-4fcf-840a-abcdb0a098e6",
      "allowAtRoot": false,
      "groupKey": "71edf95e-0207-47f7-8253-9d1a5ce91eb1",
      "label": "Container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "73899eb5-54f1-4986-ba9c-54eb1f2749d9",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "7c0f531d-fecd-4b94-ae12-6dce583fdfbc",
      "allowAtRoot": false,
      "groupKey": "71edf95e-0207-47f7-8253-9d1a5ce91eb1",
      "label": "Dynamic Container",
      "areas": [
        {
          "key": "ed5f36f6-297c-4eb5-8f68-b9678e1a8d48",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "ef64817c-6ec8-4f66-a5cb-5a461625e6c6",
      "allowAtRoot": false,
      "groupKey": "52cfc4f5-89a1-49e4-aa22-57b72ab312f2",
      "label": "Content Information Section",
      "allowInAreas": true,
      "areas": [
        {
          "key": "31be0ef5-c4b7-4d00-8372-b8d02381181a",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "c5fcf2df-03a5-454e-b01d-3c35a23ed574",
      "allowAtRoot": false,
      "groupKey": "52cfc4f5-89a1-49e4-aa22-57b72ab312f2",
      "allowInAreas": true,
      "label": "Project Item",
      "areas": [
        {
          "key": "0a89fb2f-87a3-4af4-9281-b37c7eacd1ca",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ]
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>