<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0f5ba659-81ae-4832-8f4c-462e95f6c3b6" Alias="Contact Page - Layout - " Level="1">
  <Info>
    <Name>Contact Page - Layout - </Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "name": "sctions",
      "key": "c1c754f0-3d79-428c-9ad7-73bf8ff8751f"
    },
    {
      "name": "Container",
      "key": "07971387-21fc-4d57-926a-b77e2db0000a"
    },
    {
      "name": "Content",
      "key": "634f3cc6-d564-4fdf-ae29-383413ebd209"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "ab10c8c4-e78c-46d6-9309-f1204fd2cf46",
      "allowAtRoot": true,
      "groupKey": "c1c754f0-3d79-428c-9ad7-73bf8ff8751f",
      "label": "section - **{=sectionTitle}**",
      "areas": [
        {
          "key": "00865a35-a25d-49a9-b5f4-2ff20f73a124",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "10e006c7-071c-467a-8cb3-2d93f18a5bde",
      "allowAtRoot": true,
      "groupKey": "c1c754f0-3d79-428c-9ad7-73bf8ff8751f",
      "label": "section - **{=sectionTitle}**",
      "areas": [
        {
          "key": "2ef2eaa9-514c-40a8-8006-bf7cb09f54dd",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "3c1d6720-ca00-4fcf-840a-abcdb0a098e6",
      "allowAtRoot": false,
      "groupKey": "07971387-21fc-4d57-926a-b77e2db0000a",
      "label": "Container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "06233348-c793-4cc9-a133-c99d8ebebcdb",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "7c0f531d-fecd-4b94-ae12-6dce583fdfbc",
      "allowAtRoot": false,
      "groupKey": "07971387-21fc-4d57-926a-b77e2db0000a",
      "label": "Dynamic Container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "8462d77b-9fb7-48d9-ab37-3558cc955bc5",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "ef64817c-6ec8-4f66-a5cb-5a461625e6c6",
      "allowAtRoot": false,
      "groupKey": "634f3cc6-d564-4fdf-ae29-383413ebd209",
      "allowInAreas": true,
      "label": "Content Info Section",
      "areas": [
        {
          "key": "34419d0d-362f-4669-bc0c-ee21b9ae058e",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "8eb65547-8fcf-48fa-8f95-05c791c947e6",
      "allowAtRoot": false,
      "groupKey": "634f3cc6-d564-4fdf-ae29-383413ebd209",
      "label": "Div Element",
      "allowInAreas": true,
      "areas": [
        {
          "key": "731c703d-45d9-4ebe-a859-16d10922bd3e",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "04c82ee9-6056-45db-84a3-bad5bc0bf797",
      "allowAtRoot": false,
      "groupKey": "634f3cc6-d564-4fdf-ae29-383413ebd209",
      "label": "Heading 2",
      "areas": [
        {
          "key": "b6752840-629d-45d4-9de7-5f47b194d52a",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "89f3d3f1-a174-4a4d-b027-05d13a74ccf2",
      "allowAtRoot": false,
      "groupKey": "634f3cc6-d564-4fdf-ae29-383413ebd209",
      "label": "Paragraph",
      "areas": [
        {
          "key": "de8484a5-1eb7-4cd8-b015-b74dedbe95d4",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "e91e41bc-58ae-4972-8b83-6db4629c9527",
      "allowAtRoot": false,
      "groupKey": "634f3cc6-d564-4fdf-ae29-383413ebd209",
      "allowInAreas": true,
      "label": "Form Element",
      "areas": [
        {
          "key": "986e178c-3831-402a-b181-61866db6a449",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "b74696c5-085d-4d75-be58-06c9c6be99f2",
      "allowAtRoot": false,
      "groupKey": "634f3cc6-d564-4fdf-ae29-383413ebd209",
      "label": "Heading 6",
      "allowInAreas": true,
      "areas": [
        {
          "key": "5a46542f-001b-420d-997e-e32ebd0be01d",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "bef093ff-9342-46e2-9e56-cdf0f4b65e5d",
      "allowAtRoot": false,
      "groupKey": "634f3cc6-d564-4fdf-ae29-383413ebd209",
      "label": "Image Element",
      "allowInAreas": true,
      "areas": [
        {
          "key": "c75f7098-1cc2-4084-a241-5c452b444334",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ]
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>