<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f300b0ad-a7a6-43f2-87e9-e65945af291f" Alias="Heading 1 - Heading 1 content " Level="1">
  <Info>
    <Name>Heading 1 - Heading 1 content </Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TextBox</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "inputType": "text",
  "maxChars": 512
}]]></Config>
</DataType>