<?xml version="1.0" encoding="utf-8"?>
<DataType Key="66186144-30dc-4a81-8848-8db9068928be" Alias="Modular Page - Layout " Level="1">
  <Info>
    <Name>Modular Page - Layout </Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "a636f22d-818c-4c30-80af-c62b0efd3205",
      "name": "section"
    },
    {
      "key": "e10d1a57-2aa6-4a31-9a7c-697e88242ba8",
      "name": "Containers"
    },
    {
      "key": "3937b635-2a8c-4fca-975f-209cfcb7215d",
      "name": "Content"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "ab10c8c4-e78c-46d6-9309-f1204fd2cf46",
      "allowAtRoot": true,
      "label": "section - **{=sectionTitle}**",
      "areas": [
        {
          "key": "d7548d14-25d5-4793-8fac-e138908be390",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "groupKey": "a636f22d-818c-4c30-80af-c62b0efd3205"
    },
    {
      "contentElementTypeKey": "10e006c7-071c-467a-8cb3-2d93f18a5bde",
      "allowAtRoot": true,
      "groupKey": "a636f22d-818c-4c30-80af-c62b0efd3205",
      "label": "section - **{=sectionTitle}**",
      "areas": [
        {
          "key": "0ddc183c-abbb-4687-9541-08eb7c240b6f",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "3c1d6720-ca00-4fcf-840a-abcdb0a098e6",
      "allowAtRoot": false,
      "groupKey": "e10d1a57-2aa6-4a31-9a7c-697e88242ba8",
      "label": "Container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "3e347c7b-75b6-46ea-aa44-aab5ab4537bc",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "7c0f531d-fecd-4b94-ae12-6dce583fdfbc",
      "allowAtRoot": false,
      "groupKey": "e10d1a57-2aa6-4a31-9a7c-697e88242ba8",
      "label": "Dynamic Container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "14968e45-a2a4-4955-96b4-825d6d88e64e",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 5
        }
      ]
    },
    {
      "contentElementTypeKey": "bc21809e-e0e6-4328-ae90-220e8928f457",
      "allowAtRoot": false,
      "groupKey": "3937b635-2a8c-4fca-975f-209cfcb7215d",
      "label": "Button Link",
      "areas": [
        {
          "key": "5eb8cb58-e1a0-41f0-9243-516da95088cd",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "6c7a432d-f95f-4b5d-bf66-7a1be3a49c38",
      "allowAtRoot": false,
      "groupKey": "3937b635-2a8c-4fca-975f-209cfcb7215d",
      "label": "Heading 1",
      "areas": [
        {
          "key": "eef1b1ef-fb07-4eda-8b60-e1fe70288027",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "04c82ee9-6056-45db-84a3-bad5bc0bf797",
      "allowAtRoot": false,
      "groupKey": "3937b635-2a8c-4fca-975f-209cfcb7215d",
      "label": "Heading 2",
      "areas": [
        {
          "key": "f814a512-0c41-47bf-b657-3a27cd81bd63",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "342c4314-16c0-40dd-b68d-39400a5580b5",
      "allowAtRoot": false,
      "groupKey": "3937b635-2a8c-4fca-975f-209cfcb7215d",
      "label": "Heading 3",
      "areas": [
        {
          "key": "4abaa507-68b7-47ab-a0ca-9427f952003c",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "80a73022-4ab8-4fa1-aef4-142a6da49fee",
      "allowAtRoot": false,
      "groupKey": "3937b635-2a8c-4fca-975f-209cfcb7215d",
      "label": "Heading 4",
      "areas": [
        {
          "key": "41a6a607-afb8-482b-b1e4-cc324d241378",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "6925efaa-db1c-4cdd-88a1-5759291a6c29",
      "allowAtRoot": false,
      "groupKey": "3937b635-2a8c-4fca-975f-209cfcb7215d",
      "label": "Heading 5",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "areas": [
        {
          "key": "fba589a5-60a6-4ba1-8512-7ddab23d17d8",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "b74696c5-085d-4d75-be58-06c9c6be99f2",
      "allowAtRoot": false,
      "groupKey": "3937b635-2a8c-4fca-975f-209cfcb7215d",
      "areas": [
        {
          "key": "b1058f97-c8e7-43f2-a0c2-c07585030874",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "label": "Heading 6",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "bef093ff-9342-46e2-9e56-cdf0f4b65e5d",
      "allowAtRoot": true,
      "groupKey": "3937b635-2a8c-4fca-975f-209cfcb7215d",
      "label": "Image HTML Element",
      "areas": [
        {
          "key": "72b7c131-f45b-4e59-9a78-37054e3d5d67",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "dad25a29-f76e-493a-aa7b-082077c272ba",
      "allowAtRoot": false,
      "groupKey": "3937b635-2a8c-4fca-975f-209cfcb7215d",
      "label": "Link",
      "areas": [
        {
          "key": "77e22f75-84e8-4999-ad45-2c85fd6ec959",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "89f3d3f1-a174-4a4d-b027-05d13a74ccf2",
      "allowAtRoot": false,
      "groupKey": "3937b635-2a8c-4fca-975f-209cfcb7215d",
      "label": "Paragraph",
      "areas": [
        {
          "key": "828a4821-8bb2-44e6-b9e5-7527a5162838",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        }
      ]
    },
    {
      "contentElementTypeKey": "8fc7eb75-d826-4143-8951-cfe1cca9f58d",
      "allowAtRoot": false,
      "groupKey": "3937b635-2a8c-4fca-975f-209cfcb7215d",
      "areas": [
        {
          "key": "c5d22192-b26a-4c0d-a82f-502900b39232",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "label": "Rich Text",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "e91e41bc-58ae-4972-8b83-6db4629c9527",
      "allowAtRoot": false,
      "groupKey": "3937b635-2a8c-4fca-975f-209cfcb7215d",
      "allowInAreas": true,
      "label": "Contact form",
      "areas": [
        {
          "key": "3f7555a2-9196-4c0c-9912-d2205748fc77",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "8eb65547-8fcf-48fa-8f95-05c791c947e6",
      "allowAtRoot": false,
      "groupKey": "3937b635-2a8c-4fca-975f-209cfcb7215d",
      "label": "Div Element",
      "allowInAreas": true,
      "areas": [
        {
          "key": "e6429b19-6a0c-4d09-98b2-a5712b516d2c",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "7cc909db-8cc6-4ee2-b015-70b24a4283eb",
      "allowAtRoot": false,
      "groupKey": "3937b635-2a8c-4fca-975f-209cfcb7215d",
      "label": "Services ",
      "allowInAreas": true,
      "areas": [
        {
          "key": "6e3cb9ab-306d-429c-a4d9-e334b70cdc0e",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>