<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e0ef3066-0a6e-4c33-9cac-ba16208385be" Alias="Projects - Project Slider - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Projects - Project Slider - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "c5fcf2df-03a5-454e-b01d-3c35a23ed574",
      "label": "Project - {=projectTitle}"
    }
  ]
}]]></Config>
</DataType>