<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a1d78110-3bc6-4aef-8f64-a1f6bba8ae24" Alias="Risk Management Service - Layout " Level="1">
  <Info>
    <Name>Risk Management Service - Layout </Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "name": "sections",
      "key": "6193dd2c-97a3-4d75-adfc-2193bf755b28"
    },
    {
      "name": "Container",
      "key": "397dc3f7-fd50-4086-9cbd-83472e45b324"
    },
    {
      "name": "Content",
      "key": "912b89f4-279d-431a-b5fe-021e26c67ea7"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "10e006c7-071c-467a-8cb3-2d93f18a5bde",
      "allowAtRoot": true,
      "label": "section - **{=sectionTitle}**",
      "areas": [
        {
          "key": "05501305-af95-486c-8d1f-d494443711a2",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "groupKey": "6193dd2c-97a3-4d75-adfc-2193bf755b28"
    },
    {
      "contentElementTypeKey": "ab10c8c4-e78c-46d6-9309-f1204fd2cf46",
      "allowAtRoot": true,
      "label": "section - **{=sectionTitle}**",
      "areas": [
        {
          "key": "0512df2e-d5cc-4e50-b9a5-3f2f93e942c2",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "groupKey": "6193dd2c-97a3-4d75-adfc-2193bf755b28"
    },
    {
      "contentElementTypeKey": "3c1d6720-ca00-4fcf-840a-abcdb0a098e6",
      "allowAtRoot": false,
      "groupKey": "397dc3f7-fd50-4086-9cbd-83472e45b324",
      "label": "Container",
      "allowInAreas": true,
      "areas": [
        {
          "key": "6b927bba-6e0c-41f8-80dc-00ad92536b66",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "7c0f531d-fecd-4b94-ae12-6dce583fdfbc",
      "allowAtRoot": false,
      "groupKey": "397dc3f7-fd50-4086-9cbd-83472e45b324",
      "label": "Dynamic Container",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "areas": [
        {
          "key": "4d118d8a-b79f-4a87-8668-8e1c2aee6e4b",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "ef64817c-6ec8-4f66-a5cb-5a461625e6c6",
      "allowAtRoot": false,
      "groupKey": "912b89f4-279d-431a-b5fe-021e26c67ea7",
      "label": "Content Information Section",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "areas": [
        {
          "key": "dad47836-295c-497d-89f4-72949ff92647",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "3491f5fc-3151-4168-a612-78e5370d2b76",
      "allowAtRoot": false,
      "groupKey": "912b89f4-279d-431a-b5fe-021e26c67ea7",
      "label": "Service Item ",
      "areas": [
        {
          "key": "71330285-f227-4314-8d88-89d943724db1",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ]
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>