<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e616b4ef-fec9-4a16-a315-141fb4956a35" Alias="Section Background Color" Level="1">
  <Info>
    <Name>Section Background Color</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "2C3E50",
      "label": "$primary-color"
    },
    {
      "value": "D9C3A9",
      "label": "$secondary-color"
    },
    {
      "value": "F2EDDC",
      "label": "$accent"
    },
    {
      "value": "ECF0F1",
      "label": "$background-color"
    },
    {
      "value": "2C3E50",
      "label": "$text-color"
    },
    {
      "value": "7F8C8D",
      "label": "$text-light-color"
    },
    {
      "value": "F7F7F7",
      "label": "$gray"
    },
    {
      "value": "FFFFFF",
      "label": "$white-color"
    },
    {
      "value": "171717",
      "label": "$dark"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>