<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2e15e0ee-a34d-49d3-a134-497ceca51c61" Alias="Services Page - Layout " Level="1">
  <Info>
    <Name>Services Page - Layout </Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "name": "sections",
      "key": "f84fcd55-f100-46e5-8ddc-b3634492fb49"
    },
    {
      "name": "Containers",
      "key": "7d944d6d-b4c7-4b67-b1a3-5799d3b9e553"
    },
    {
      "name": "Content",
      "key": "fb01e3b9-74aa-45f2-a21c-382bbbfd62d5"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "10e006c7-071c-467a-8cb3-2d93f18a5bde",
      "allowAtRoot": true,
      "label": "section - **{=sectionTitle}**",
      "areas": [
        {
          "key": "fecdf2d1-8895-46c4-a344-6ee7c2d65a8d",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 9
        }
      ],
      "groupKey": "f84fcd55-f100-46e5-8ddc-b3634492fb49",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "ab10c8c4-e78c-46d6-9309-f1204fd2cf46",
      "allowAtRoot": true,
      "label": "section - **{=sectionTitle}**",
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "areas": [
        {
          "key": "82f0eaa6-d336-4a41-a3a6-06769d7e2011",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "groupKey": "f84fcd55-f100-46e5-8ddc-b3634492fb49",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "3c1d6720-ca00-4fcf-840a-abcdb0a098e6",
      "allowAtRoot": false,
      "groupKey": "7d944d6d-b4c7-4b67-b1a3-5799d3b9e553",
      "label": "Container",
      "areas": [
        {
          "key": "a6cbf2ee-4ddd-479e-8af3-1dbe3c348ef4",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ],
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "7c0f531d-fecd-4b94-ae12-6dce583fdfbc",
      "allowAtRoot": false,
      "groupKey": "7d944d6d-b4c7-4b67-b1a3-5799d3b9e553",
      "label": "Dynamic Container",
      "areas": [
        {
          "key": "b7d55794-cabc-474a-88c6-5d58795f8e65",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 10
        }
      ]
    },
    {
      "contentElementTypeKey": "6c7a432d-f95f-4b5d-bf66-7a1be3a49c38",
      "allowAtRoot": false,
      "groupKey": "fb01e3b9-74aa-45f2-a21c-382bbbfd62d5",
      "label": "Heading 1",
      "areas": [
        {
          "key": "3f75c4a6-b968-42b6-9e1d-f6571c20c9e7",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "04c82ee9-6056-45db-84a3-bad5bc0bf797",
      "allowAtRoot": false,
      "groupKey": "fb01e3b9-74aa-45f2-a21c-382bbbfd62d5",
      "label": "Heading 2",
      "allowInAreas": true,
      "areas": [
        {
          "key": "2973c3d4-5e56-443e-9258-172bbd95f49c",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "ef64817c-6ec8-4f66-a5cb-5a461625e6c6",
      "allowAtRoot": false,
      "groupKey": "fb01e3b9-74aa-45f2-a21c-382bbbfd62d5",
      "allowInAreas": true,
      "areas": [
        {
          "key": "7f772df8-f34e-4809-b5dd-9fd325f5536e",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "7cc909db-8cc6-4ee2-b015-70b24a4283eb",
      "allowAtRoot": false,
      "groupKey": "fb01e3b9-74aa-45f2-a21c-382bbbfd62d5",
      "allowInAreas": true,
      "areas": [
        {
          "key": "3a209e98-96cf-4546-a4d0-b68f7565fede",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "columnSpanOptions": [
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 12
        }
      ]
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>