<?xml version="1.0" encoding="utf-8"?>
<DataType Key="157d84c4-0158-4c57-b437-a0adeae0e9a1" Alias="Service Item - Service Description - Rich Text Editor Property Editor UI" Level="1">
  <Info>
    <Name>Service Item - Service Description - Rich Text Editor Property Editor UI</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.TinyMCE</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "maxImageSize": 500,
  "mode": "Classic",
  "toolbar": [
    "cut",
    "copy",
    "paste",
    "styles",
    "fontname",
    "fontsize",
    "forecolor",
    "backcolor",
    "blockquote",
    "formatblock",
    "bold",
    "italic",
    "alignleft",
    "aligncenter",
    "alignright",
    "alignjustify",
    "bullist",
    "numlist",
    "outdent",
    "indent",
    "sourcecode",
    "umbmediapicker",
    "umbembeddialog",
    "link",
    "unlink"
  ]
}]]></Config>
</DataType>