<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dd03abf7-ed29-4084-9ec1-5e1ccae6a6b5" Alias="Services - Service Slider " Level="1">
  <Info>
    <Name>Services - Service Slider </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3491f5fc-3151-4168-a612-78e5370d2b76",
      "label": "Service - {=serviceTitle}"
    }
  ]
}]]></Config>
</DataType>