@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Web.Common.PublishedModels;
@{
    var serviceDescription = Model.Content.Value("serviceDescription") ?? "";
}
@if (serviceDescription != null){
    <div>
        @serviceDescription
    </div>
}
