<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7a2bd365-9580-4539-be7b-505dcad3d72a" Alias="modularPage" Level="2">
  <Info>
    <Name>Modular Page</Name>
    <Icon>icon-notepad</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>modularPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="9ff79d34-67df-4d4a-b5a9-035e84932a73">modularPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="7a2bd365-9580-4539-be7b-505dcad3d72a" SortOrder="0">modularPage</ContentType>
    <ContentType Key="11a75986-1cd0-427f-a408-ddd4ebf922ca" SortOrder="1">aboutPage</ContentType>
    <ContentType Key="fd17d4bf-b5ae-4640-aaef-647fc8ecf303" SortOrder="2">servicesPage</ContentType>
    <ContentType Key="69d1f466-a561-4b69-93a0-e5c97f933659" SortOrder="3">projectsPage</ContentType>
    <ContentType Key="b6395338-ef9e-4021-bf88-f0028f3754d0" SortOrder="4">contactPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>c231496b-eb12-41a5-95bd-ea10650fd46c</Key>
      <Name>Layout</Name>
      <Alias>layout</Alias>
      <Definition>66186144-30dc-4a81-8848-8db9068928be</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/pageLayout">Page Layout</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3b462bff-3812-45b6-8c12-99d54f89974e</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>64f3d1ac-17b6-47cc-a5b0-108f82be0d03</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>650ac33d-4619-4097-b2c1-55be01eb8619</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>dba7f450-3a93-46ed-9339-7e6d0fd8b4d6</Key>
      <Caption>Page Layout</Caption>
      <Alias>content/pageLayout</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>